@charset "UTF-8";
		body{
			position: relative;
		}

		body {
			max-width:1000px;
			margin-left: auto;
			margin-right: auto;	
			height: 100%;
			width:100%;
            position: relative;
			
		}
		
		.SimSun{
		  font-size: 14px;
		  font-family: Arial,sans-serif;
		}
		
		
		body.WordPage {
      width:1020px;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      padding: 0px;
      /*width: 100%;*/
      
      font-family: Arial,sans-serif;
      font-size: 18px;
      z-index:-10000;
    }
    
    .input-group {
    width: 100%;
}